.Sagen Lochtbernas.sheet.actor-sheet {
  font-family: "Segoe UI", sans-serif;
  padding: 1rem;
}

.lochtberna h2 {
  margin-top: 1rem;
  border-bottom: 1px solid #666;
  font-size: 1.2rem;
}

.lochtberna .resource {
  margin: 0.3rem 0;
}

.lochtberna .resource label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}
