<h2>Talente</h2>
<textarea name="system.talente.notizen">{{system.talente.notizen}}</textarea>

<h2>Waffentalente</h2>
<div><label>Einhandwaffen</label> <input type="number" name="system.waffentalente.einhandwaffen" value="{{system.waffentalente.einhandwaffen}}" /></div>
<div><label>Zweihandwaffen</label> <input type="number" name="system.waffentalente.zweihandwaffen" value="{{system.waffentalente.zweihandwaffen}}" /></div>
<div><label>Stangenwaffen</label> <input type="number" name="system.waffentalente.stangenwaffen" value="{{system.waffentalente.stangenwaffen}}" /></div>
<div><label>Schusswaffen</label> <input type="number" name="system.waffentalente.schusswaffen" value="{{system.waffentalente.schusswaffen}}" /></div>

<h3>Spezialisierungen</h3>
<div><label>Schwerter</label> <input type="number" name="system.waffentalente.schwerter" value="{{system.waffentalente.schwerter}}" /></div>
<div><label>Wuchtwaffen</label> <input type="number" name="system.waffentalente.wuchtwaffen" value="{{system.waffentalente.wuchtwaffen}}" /></div>
<div><label>Kurzwaffen</label> <input type="number" name="system.waffentalente.kurzwaffen" value="{{system.waffentalente.kurzwaffen}}" /></div>
