<form class="lochtberna-rpg sheet actor-sheet" autocomplete="off">
  <header class="sheet-header flexrow">
    <h1><input name="name" type="text" value="{{actor.name}}" /></h1>
    <div><label>Geschlecht</label><input type="text" name="system.geschlecht" value="{{system.geschlecht}}" /></div>
    <div><label>Rasse</label><input type="text" name="system.rasse" value="{{system.rasse}}" /></div>
    <div><label>Alter</label><input type="number" name="system.alter" value="{{system.alter}}" /></div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attribute</a>
    <a class="item" data-tab="talente">Talente</a>
    <a class="item" data-tab="zauber">Zauber & Fähigkeiten</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="attributes">
      {{> "systems/lochtberna-rpg/templates/actor/actor-attributes.html"}}
    </div>
    <div class="tab" data-group="primary" data-tab="talente">
      {{> "systems/lochtberna-rpg/templates/actor/actor-talente.html"}}
    </div>
    <div class="tab" data-group="primary" data-tab="zauber">
      {{> "systems/lochtberna-rpg/templates/actor/actor-zauber.html"}}
    </div>
  </section>
</form>
