<h2>Körper</h2>
<div><label>Stärke</label> <input type="number" name="system.körper.stärke" value="{{system.körper.stärke}}" /></div>
<div><label>Ausdauer</label> <input type="number" name="system.körper.ausdauer" value="{{system.körper.ausdauer}}" /></div>
<div><label>Agilität</label> <input type="number" name="system.körper.agilität" value="{{system.körper.agilität}}" /></div>

<h2>Geist</h2>
<div><label>Intellekt</label> <input type="number" name="system.geist.intellekt" value="{{system.geist.intellekt}}" /></div>
<div><label>Seele</label> <input type="number" name="system.geist.seele" value="{{system.geist.seele}}" /></div>
<div><label>Weisheit</label> <input type="number" name="system.geist.weisheit" value="{{system.geist.weisheit}}" /></div>

<h2>Sozial</h2>
<div><label>Charisma</label> <input type="number" name="system.sozial.charisma" value="{{system.sozial.charisma}}" /></div>
<div><label>Wissen</label> <input type="number" name="system.sozial.wissen" value="{{system.sozial.wissen}}" /></div>
<div><label>Handwerk</label> <input type="number" name="system.sozial.handwerk" value="{{system.sozial.handwerk}}" /></div>

<h2>Sonstiges</h2>
<div><label>Bewegung</label> <input type="number" name="system.bewegung" value="{{system.bewegung}}" /></div>
<div><label>Erfahrungspunkte</label> <input type="number" name="system.xp" value="{{system.xp}}" /></div>
