<form class="lochtberna sheet actor-sheet" autocomplete="off">
  <header class="sheet-header flexrow">
    <h1><input name="name" type="text" value="{{actor.name}}" /></h1>
  </header>

  <section class="sheet-body">
    <h2>Körper</h2>
    <div class="resource">
      <label>Stärke</label>
      <input type="number" name="system.attributes.körper.stärke" value="{{system.attributes.körper.stärke}}" />
    </div>
    <div class="resource">
      <label>Ausdauer</label>
      <input type="number" name="system.attributes.körper.ausdauer" value="{{system.attributes.körper.ausdauer}}" />
    </div>
    <div class="resource">
      <label>Agilität</label>
      <input type="number" name="system.attributes.körper.agilität" value="{{system.attributes.körper.agilität}}" />
    </div>

    <h2>Geist</h2>
    <div class="resource">
      <label>Intellekt</label>
      <input type="number" name="system.attributes.geist.intellekt" value="{{system.attributes.geist.intellekt}}" />
    </div>
    <div class="resource">
      <label>Seele</label>
      <input type="number" name="system.attributes.geist.seele" value="{{system.attributes.geist.seele}}" />
    </div>
    <div class="resource">
      <label>Weisheit</label>
      <input type="number" name="system.attributes.geist.weisheit" value="{{system.attributes.geist.weisheit}}" />
    </div>

    <h2>Sozial</h2>
    <div class="resource">
      <label>Charisma</label>
      <input type="number" name="system.attributes.sozial.charisma" value="{{system.attributes.sozial.charisma}}" />
    </div>
    <div class="resource">
      <label>Wissen</label>
      <input type="number" name="system.attributes.sozial.wissen" value="{{system.attributes.sozial.wissen}}" />
    </div>
    <div class="resource">
      <label>Handwerk</label>
      <input type="number" name="system.attributes.sozial.handwerk" value="{{system.attributes.sozial.handwerk}}" />
    </div>

    <h2>Allgemein</h2>
    <div class="resource">
      <label>Bewegungspunkte</label>
      <input type="number" name="system.attributes.bewegung" value="{{system.attributes.bewegung}}" />
    </div>
    <div class="resource">
      <label>Alter</label>
      <input type="number" name="system.attributes.alter" value="{{system.attributes.alter}}" />
    </div>
    <div class="resource">
      <label>Erfahrungspunkte</label>
      <input type="number" name="system.attributes.erfahrung" value="{{system.attributes.erfahrung}}" />
    </div>
  </section>
</form>
